@use '../../styles/palette';

.modal {
  $self: #{&};
  &__container {
    position: relative;
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 4px;
    width: 80%;
  }

  &__close {
    position: absolute;
    right: 20px;
    top: 20px;
  }
}
/* 모달 스타일 */
dialog[open] {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: palette.$modal-background;
}

dialog::backdrop {
  background-color: palette.$modal-background;
}
